@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@font-face 
{    
    font-family: "Raleway";  src: url('../fonts/font_raleway/Raleway-VariableFont_wght.ttf'); 
}


body
{
    font-family: "Raleway", "Sans serif";
    width:100%;
    margin:auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}



* 
{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}



/*Menu de Navigation*/

.navigation 
{
    max-width: 1440px;
    padding: 0 20px 0 20px;
    flex: 1 0 auto;
    margin: 0 auto;
}


/*La barre de navigation = le menu*/

header 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*----------------------------Entete--------------------------*/

#header_principale
{
    display: flex;
    align-items: center ;
    align-content: center;
    font-size: 1.1em;
}


#header_principale
{
    font-size: 1.1em;
}


#logo_container
{
    padding-top: 15px;
    flex:1;
}


#activites_link, #hebergements_link
{
    padding-left:40px;
    padding-right:40px;
    padding-top:40px;
    padding-bottom: 20px;
}


#signup_link
{
    padding-left:40px;
    padding-top:40px;
    padding-bottom: 20px;    
    color:#0065FC;
    font-weight: bold;
}


nav
{
    display:flex;
}


/* Survol : effet pour faire apparaitre la bordure en haut pour "Hebergements" et "Activités" */
#hebergements_link:hover
{
    color: #0065FC; 
    border-top:2px #0065FC solid;
    color: #0065FC;  
}


#activites_link:hover
{
    color: #0065FC; 
    border-top:2px #0065FC solid;
    color: #0065FC;  
}


/* ---------------------------Main----------------------------*/

.les_titres_du_site p
{
    font-size: 1.13em;
    padding-top: 10px;
}


.recherche_info_filtres 
{
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
}


/*titres*/

.les_titres_du_site 
{
    margin-bottom: 20px;
}


.titre_principal 
{
    font-size: 1.5em;
}


/* Barre de recherche*/

.rechercher 
{
    display: flex;
}


.tel_mob 
{
    display: none;
}


form 
{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}


form i 
{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    border: solid 1px white;
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    padding: 13px;
}


form input 
{
    border: solid 1px #F2F2F2;
    padding: 9px;
    color: black;
    font-size: 20px;
}


input::placeholder 
{
    color: black;
    font-weight: bold;
    font-size: 0.9em;
}


form button 
{
    border: solid 1px #F2F2F2;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    color: white;
    padding: 10px;
    font-size: large;
}


form button:hover 
{
    cursor: pointer;
    font-weight: bold;
}


/* Mise en forme des boutons filtres */
#filters
{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
}


#filters h2
{
    margin-right:50px;
    margin-left: 10px;
    font-size:1em;
}


#filter_buttons
{
    display:flex;
    flex-direction: row;
}


#filter_buttons form
{
    margin-right:20px;
    display: flex;
    flex-direction: row;
}


#filter_buttons button
{
    background-color: #FFFFFF;
    color: black;
    height:40px;
    display: flex;
    flex-direction: row;
    font-weight:bold;
    font-size: 1em;
    margin-right: 30px;
    align-items:center;
    border-radius: 180px;
    border:#d3d1d1 solid 1px;
}



#filter_buttons button:hover
{
    /* Au survol des boutons, on decale vers le bas/gauche et on affiche une ombre en haut à droite  */
    position:relative;
    left:-2px;
    bottom:-2px;
    box-shadow: 2px -2px 2px #dedede;
}


.button_icon
{
    color:#0065FC;
    font-size: 1.2em;
    background-color:#DEEBFF;
    border-radius: 180px;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left:-12px; 
    z-index: 1;
}


.button_text
{
    padding-left: 7px;
    padding-right: 5px;
}


/* ------------------------------------------------*/
/* Mise en forme de la phrase d'information */
/*Info*/

.info 
{
    display: flex;
    margin: 15px 0 20px 0;
}


.info i 
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: white;
    border: 1px solid #f2f2f2;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    margin-right: 15px;
    margin-left: 05px;
    margin-bottom: 3px;
}


.info p 
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.tout_a_marse 
{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 35px;
}

/* ---------------------------------------------------------*/

.tout_a_marse 
{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 35px;
    column-gap: 40px;
}


/* ------------Hébergements à Marseille----------------- */

.tit_heb_mar 
{
    padding: 30px 0 20px 50px;
    font-size: 1.4em;
}


.heberg_marse 
{
    height: 600px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    border-radius: 25px;
}


.bloc_heb_a_marse 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    padding: 0 50px;
}


.heb_a_marseilles 
{
    width: 250px;
    height: 195px;
    background-color: #ffffff;
    border: 5px solid ;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #d1cfcf;
    border-color: white;
}

.heb_a_marseilles:hover 
{
    box-shadow: 5px 5px 5px #d1cfcf;
}


.heb_a_marseilles img 
{
    width: 100%;
    height: 60%;
    border: 1px solid white;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}


.Mar 
{
    margin-left: 10px;
}


.Mar h3, .Mar p 
{
    margin-bottom: 5px;
}


.Mar h3 
{
    font-size: 1em;
}


.aff 
{
    padding: 25px 0 20px 50px;
    font-weight: bold;
    font-size: 20px;
}


.prix 
{
    font-weight: bold;
}


/* ---------------2-Les plus populaires--------------- */

.fa-chart-line:before
{
    content: "\f201";
    padding-right: 1em;
}    


.populaire 
{
    height: 600px;
    width: 32%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 25px;
}


.haut 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 20px 40px;
}


.haut i 
{
    font-size: 25px;
    margin-right: 0px;
}


.haut .titre2
{
    font-size: 1.4em;
}


.les_populaires 
{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 0 40px;
}


.pop 
{
    display: flex;
    height: 30%;
    background-color: #ffffff;
    border: 5px solid ;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #d1cfcf;
    border-color: white;
}


.pop img 
{
    width: 40%;
    height: 100%;
    border: 1px solid white;
    border-radius: 25px 0 0 25px;
    object-fit: cover;
    flex-shrink: 0;
}


.textpopu 
{
    position: relative;
    padding: 15px 20px 0 25px;
}


.textpopu h3 
{
    margin-bottom: 5px;
    font-size: medium;
}


.stars 
{
    position: absolute;
    bottom: 5px;
    left: 25px;
}


a 
{
    text-decoration: none;
    color: black;
}


.tout_a_marse a:hover 
{
    color: #0065FC;
}


.pop:hover 
{
    background-color: #f2f2f2;
}


/* -------------Activités à Marseille------------ */
#activites
{
    padding-top:40px;
    padding-bottom: 50px;
    width: 100%;
    margin: 0;
}


#activites .article_activite
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-between;
    justify-content: space-between;
}



#activites h2
{
    padding-bottom: 20px;
    font-size: 1.4em;

}


#activites a
{
    border-radius: 12px;
    background-color:#FFFFFF;
    display:flex;
    flex-direction: column;
    width:23%;
}


#activites img
{
    width: 100%;
    height: 260px;
    object-fit:cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


#activites h3
{
    padding-left:20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0.96em;
}

/* -----------------Ordre des articles et dimensions des images------------------------ */

#activites .article_activite
{
    height: 410px;
}
    
#activites .article_activite a:nth-child(1) img, #activites .article_activite a:nth-child(4) img
{
    height: 357px;
}

#activites .article_activite a:nth-child(2) img
{
    height: 160px;
}

#activites .article_activite a:nth-child(3) img
{
    height: 115px;
}
    

#activites .article_activite a:nth-child(5) img, #activites .article_activite a:nth-child(6) img
{
    height: 135px;
}

#activites .article_activite a
{
    border: 0.5px solid #e2e2e2;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #e2e2e2;
}     

/* ----------------------------------------------------------------------------------- */
/* ------ */
/* FOOTER */
/* ------ */

footer
{
    background-color: #F2F2F2;
    width: 100%;
}

#notre_footer
{
    max-width: 1440px;
    display: flex;
    flex-flow: wrap;
    padding: 35px 20px 50px 20px;
    margin: 0 auto;
}



#nos_hebergements, #a_propos, #assistance
{
    width: 30%;
}


footer h1
{
    font-size: 1.2em;
    margin-bottom: 15px;
}


footer a
{
    font-size: 1em;
}


footer ul
{
    list-style-type:none;
    font-size: 1.2em;
    padding-left: 0px;
}


footer li
{
    padding-bottom: 7px;
}



footer a:hover 
{
    color: #0065FC;
}
